<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head('Home Page')"></head>

<body class="container mt-5">

<div class="container mt-5">
    <h1>Books</h1>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.author}"></td>
            <td>
                <a href="#" class="btn btn-primary" th:href="@{'/book/edit/' + ${book.id}}">Edit</a>
                <a href="#" class="btn btn-danger" th:href="@{'/book/delete/' + ${book.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/book/create" class="btn btn-success">Create New Book</a>
</div>
<section th:replace="fragments :: js_links"></section>
</body>

</html>
